{% extends "base.html" %}

{% block title %}Bookmark Change List{% endblock %}

{% load staticfiles %}

{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}

    <div id = 'content'>

        <h1>Bookmark Change = {{ user }}</h1>

        <table class = "charge-list">
            <tr>
                <Th>Title</Th>
                <th>Url</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for item in object_list %}
            <Tr>
                <Td>{{ item.title }}</Td>
                <Td>{{ item.url }}</Td>
                <Td>{{ item.owner }}</Td>
                <Td><a href = "{% url 'bookmark:update' item.id %}">Update</a></Td>
                <Td><a href = "{% url 'bookmark:delete' item.id %}">Delete</a></Td>
            </Tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}