{% extends "base.html" %}

{% block title %}Change List{% endblock %}

{% load staticfiles %}

{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}

    <div id = 'content'>

        <h1>Photo Change = {{ user }}</h1>

        <table class = "charge-list">
            <tr>
                <Th>Album</Th>
                <Th>Title</Th>
                <th>Description</th>
                <th>Owner</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for item in object_list %}
            <Tr>
                <Td>{{ item.album }}</Td>
                <Td>{{ item.title }}</Td>
                <Td>{{ item.description|linebreaks }}</Td>
                <Td>{{ item.owner }}</Td>
                <Td><a href = "{% url 'photo:photo_update' item.id %}">Update</a></Td>
                <Td><a href = "{% url 'photo:photo_delete' item.id %}">Delete</a></Td>
            </Tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}